### Credit Risk Analysis project

In [59]:
# import necessary libraries priorly, the other libraries will be imported on their respective section
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [60]:
# the dataset was uploaded to a github account to facilitate the calling process. thus, this link refers to raw format of data directly
# this eliminated the need to call the data from local direcotyr all the time
data_url = "https://raw.githubusercontent.com/mrzeynalli/credit_risk_analysis_project/main/Dataset/bank_customers_data.csv"

# read csv file and turn into a dataframe object
data = pd.read_csv(data_url)

# display first 10 rows of the dataframe
data.head(10)

C:\Users\ezeyn\AppData\Local\Temp\ipykernel_4788\160067132.py:6: DtypeWarning: Columns (52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_url)

,Unnamed: 0,ID_CLIENT,CLERK_TYPE,PAYMENT_DAY,APPLICATION_SUBMISSION_TYPE,QUANT_ADDITIONAL_CARDS,POSTAL_ADDRESS_TYPE,SEX,MARITAL_STATUS,QUANT_DEPENDANTS,...,FLAG_HOME_ADDRESS_DOCUMENT,FLAG_RG,FLAG_CPF,FLAG_INCOME_PROOF,PRODUCT,FLAG_ACSP_RECORD,AGE,RESIDENCIAL_ZIP_3,PROFESSIONAL_ZIP_3,TARGET_LABEL_BAD=1
0,0,1,C,5,Web,0,1,F,6,1,...,0,0,0,0,1,N,32,595,595,1
1,1,2,C,15,Carga,0,1,F,2,0,...,0,0,0,0,1,N,34,230,230,1
2,2,3,C,5,Web,0,1,F,2,0,...,0,0,0,0,1,N,27,591,591,0
3,3,4,C,20,Web,0,1,F,2,0,...,0,0,0,0,1,N,61,545,545,0
4,4,5,C,10,Web,0,1,M,2,0,...,0,0,0,0,1,N,48,235,235,1
5,5,6,C,10,0,0,1,M,2,0,...,0,0,0,0,2,N,40,371,371,1
6,6,7,C,15,Carga,0,1,F,2,2,...,0,0,0,0,1,N,40,413,413,1
7,7,8,C,25,Web,0,1,F,1,0,...,0,0,0,0,1,N,28,686,686,0
8,8,9,C,15,0,0,1,F,1,0,...,0,0,0,0,2,N,31,172,172,0
9,9,10,C,5,0,0,1,F,1,0,...,0,0,0,0,1,N,41,914,914,0

In [61]:
# given that 'ID_CLIENT' column is primary key, we need to check if it has any duplicate values
print('Primary key has',data['ID_CLIENT'].duplicated().sum(),'duplicated values')

# as 0, we are safe to go on

Primary key has 0 duplicated values

In [62]:
# print the number of rows and columns
print(f'Dataset has {data.shape[0]} rows and {data.shape[1]} columns\n')

# print the list of columns
print(f'The list of columns are: {list(data.columns)}')

Dataset has 50000 rows and 55 columns

The list of columns are: ['Unnamed: 0', 'ID_CLIENT', 'CLERK_TYPE', 'PAYMENT_DAY', 'APPLICATION_SUBMISSION_TYPE', 'QUANT_ADDITIONAL_CARDS', 'POSTAL_ADDRESS_TYPE', 'SEX', 'MARITAL_STATUS', 'QUANT_DEPENDANTS', 'EDUCATION_LEVEL', 'STATE_OF_BIRTH', 'CITY_OF_BIRTH', 'NACIONALITY', 'RESIDENCIAL_STATE', 'RESIDENCIAL_CITY', 'RESIDENCIAL_BOROUGH', 'FLAG_RESIDENCIAL_PHONE', 'RESIDENCIAL_PHONE_AREA_CODE', 'RESIDENCE_TYPE', 'MONTHS_IN_RESIDENCE', 'FLAG_MOBILE_PHONE', 'FLAG_EMAIL', 'PERSONAL_MONTHLY_INCOME', 'OTHER_INCOMES', 'FLAG_VISA', 'FLAG_MASTERCARD', 'FLAG_DINERS', 'FLAG_AMERICAN_EXPRESS', 'FLAG_OTHER_CARDS', 'QUANT_BANKING_ACCOUNTS', 'QUANT_SPECIAL_BANKING_ACCOUNTS', 'PERSONAL_ASSETS_VALUE', 'QUANT_CARS', 'COMPANY', 'PROFESSIONAL_STATE', 'PROFESSIONAL_CITY', 'PROFESSIONAL_BOROUGH', 'FLAG_PROFESSIONAL_PHONE', 'PROFESSIONAL_PHONE_AREA_CODE', 'MONTHS_IN_THE_JOB', 'PROFESSION_CODE', 'OCCUPATION_TYPE', 'MATE_PROFESSION_CODE', 'EDUCATION_LEVEL.1', 'FLAG_HOME_ADDRESS_DOCUMENT', 'FLAG_RG', 'FLAG_CPF', 'FLAG_INCOME_PROOF', 'PRODUCT', 'FLAG_ACSP_RECORD', 'AGE', 'RESIDENCIAL_ZIP_3', 'PROFESSIONAL_ZIP_3', 'TARGET_LABEL_BAD=1']

In [63]:
# some columns are unneccesary, given that their encoding are not provided. adress related columns are also unnecessary.
# the below list contains the columns that need to be kept (to be discussed with peers later)
columns_to_be_kept = ['PAYMENT_DAY',  'SEX', 'MARITAL_STATUS', 'QUANT_DEPENDANTS', 'EDUCATION_LEVEL', 'NACIONALITY', 
'PERSONAL_MONTHLY_INCOME', 'OTHER_INCOMES','PERSONAL_ASSETS_VALUE', 'COMPANY', 'MONTHS_IN_THE_JOB','EDUCATION_LEVEL.1', 
'PRODUCT', 'FLAG_ACSP_RECORD', 'AGE', 'TARGET_LABEL_BAD=1']

# create a list for the columns to be dropped
columns_to_be_dropped = [column for column in data.columns if column not in columns_to_be_kept]

# drop the candidate columns
cleaned_data = data.drop(columns=columns_to_be_dropped)

In [64]:
# checking for null values

# print each column and its null value count
for column in cleaned_data.columns:
    print(f'{column}: {cleaned_data[column].isna().sum()} null values')

PAYMENT_DAY: 0 null values
SEX: 0 null values
MARITAL_STATUS: 0 null values
QUANT_DEPENDANTS: 0 null values
EDUCATION_LEVEL: 0 null values
NACIONALITY: 0 null values
PERSONAL_MONTHLY_INCOME: 0 null values
OTHER_INCOMES: 0 null values
PERSONAL_ASSETS_VALUE: 0 null values
COMPANY: 0 null values
MONTHS_IN_THE_JOB: 0 null values
EDUCATION_LEVEL.1: 32338 null values
PRODUCT: 0 null values
FLAG_ACSP_RECORD: 0 null values
AGE: 0 null values
TARGET_LABEL_BAD=1: 0 null values

In [65]:
# as 'EDUCATION_LEVEL.1' column (education level of customer's mate) has 32338 null values, it is best to drop that column entirely

# drop the candidate column. Inplace=True mean no need to create a new dataframe, 
# the dropping process is applied in place of the current dataframe 'cleaned_data'
cleaned_data.drop(columns=['EDUCATION_LEVEL.1'], inplace=True)

In [66]:
# count the columns of cleaned dataset
print(f'The cleaned dataset now has {cleaned_data.shape[1]} columns')

The cleaned dataset now has 15 columns

### Preprocessing (Convertions: Categorical to Numeric)

In [67]:
# first, we need to check which columns are categorical

# this loop will check if the column's first value is string (isinstance(value,str) returns either True of False)
for column in cleaned_data.columns:
    if isinstance(cleaned_data[column][0],str):
        print(f'{column} column is categorical')

SEX column is categorical
COMPANY column is categorical
FLAG_ACSP_RECORD column is categorical

In [68]:
# import LabelEncoder to convert to numeric; alternatively, we can use dummy-variable technique (need to be discussed with peers)
# I beliave dummy variable for Sex column is preferable
from sklearn.preprocessing import LabelEncoder

# convert SEX column
num_sex = LabelEncoder().fit_transform(cleaned_data['SEX']) # Male : 2 / Female : 1
cleaned_data['SEX'] = pd.DataFrame(num_sex) # change column values to numeric ones

# convert COMPANY column
num_company = LabelEncoder().fit_transform(cleaned_data['COMPANY']) # N : 0 / Y : 1
cleaned_data['COMPANY'] = pd.DataFrame(num_company) # change column values to numeric ones

# convert FLAG_ACSP_RECORD column
num_flag_acsp_record = LabelEncoder().fit_transform(cleaned_data['FLAG_ACSP_RECORD']) # N : 0 / Y : 1
cleaned_data['FLAG_ACSP_RECORD'] = pd.DataFrame(num_flag_acsp_record) # change column values to numeric ones

cleaned_data[['SEX','COMPANY','FLAG_ACSP_RECORD']].head()

   SEX  COMPANY  FLAG_ACSP_RECORD
0    1        0                 0
1    1        1                 0
2    1        0                 0
3    1        0                 0
4    2        0                 0

### Preprocessing (Outlier detection)

In [69]:
# import LocalOutlierFactor from sklearn.neighbors
from sklearn.neighbors import LocalOutlierFactor as LOF

# set the number of neighbors and contamination (needs to be discussed with peers)
neighbors = 20
cont = 0.2

# create a variable names 'outliers' and set the parameters according to LOF results
outliers = LOF(n_neighbors = neighbors,contamination = cont).fit_predict(cleaned_data)

# create a new column for outlier boolean values
cleaned_data['IF_OUTLIER'] = pd.DataFrame(outliers)

print('The number of outliers in dataset is', cleaned_data[cleaned_data['IF_OUTLIER'] < 0]['IF_OUTLIER'].count(), 'out of', cleaned_data.shape[0], 'values')

The number of outliers in dataset is 10000 out of 50000 values

In [80]:
# dropping the outliers

# collect the indices of outlier values
outlier_indices = []

# this loop iterates through the index values and column values and 
# append the index integers in which the rspective value is less than 0, or outlier
for index, value in zip(range(len(cleaned_data)),cleaned_data['IF_OUTLIER']):
    if value < 0:
        outlier_indices.append(index)

In [85]:
# drop the outliers
cleaned_data.drop(outlier_indices,axis=0,inplace=True)

### Preprocessing (Normalization or Standartization)

In [86]:
# import both StandardScaler and MinMaxScaler from sklearn.prepocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# standartize the cleaned_data
standard_results = StandardScaler().fit_transform(cleaned_data)
standartized_cleaned_data = pd.DataFrame(data = standard_results, columns = cleaned_data.columns)

# normalize the cleaned__data
normalized_results = MinMaxScaler().fit_transform(cleaned_data)
normalized_cleaned_data = pd.DataFrame(data = normalized_results, columns = cleaned_data.columns)

# we can decide to use which ever is more suitable

In [87]:
# display first 5 values
normalized_cleaned_data.head()

# after observing both, I believe the normalized version is better given the fact that 
# the response variable 'TARGET_LABEL_BAD=1' remains either 0 or 1

# alternatively, we might apply normalization/standartization to each variable independetly, 
# to keep SEX and and MARITAL_STATUS variables with their actual values, as well

,PAYMENT_DAY,SEX,MARITAL_STATUS,QUANT_DEPENDANTS,EDUCATION_LEVEL,NACIONALITY,PERSONAL_MONTHLY_INCOME,OTHER_INCOMES,PERSONAL_ASSETS_VALUE,COMPANY,MONTHS_IN_THE_JOB,PRODUCT,FLAG_ACSP_RECORD,AGE,TARGET_LABEL_BAD=1,IF_OUTLIER
0,0.583333,0.333333,0.285714,0.0,0.0,0.5,0.005082,0.0,0.0,1.0,0.0,0.000000,0.0,0.220779,1.0,0.0
1,0.166667,0.333333,0.285714,0.0,0.0,0.5,0.003145,0.0,0.0,0.0,0.0,0.000000,0.0,0.129870,0.0,0.0
2,0.375000,0.666667,0.285714,0.0,0.0,0.5,0.008569,0.0,0.0,0.0,0.0,0.000000,0.0,0.402597,1.0,0.0
3,0.375000,0.666667,0.285714,0.0,0.0,0.5,0.003145,0.0,0.0,1.0,0.0,0.166667,0.0,0.298701,1.0,0.0
4,0.583333,0.333333,0.285714,0.2,0.0,0.5,0.001751,0.0,0.0,0.0,0.0,0.000000,0.0,0.298701,1.0,0.0